<nav>
    <ul class="pagination justify-content-center">
        <li [ngClass]="hasPrevious() ? 'page-item' : 'page-item disabled'">
            <a class="page-link" (click)="firstPage()">|<</a>
        </li>
        <li [ngClass]="hasPrevious() ? 'page-item' : 'page-item disabled'">
            <a class="page-link fa fa-camera-retro" (click)="previousPage()"></a>
        </li>
        <li class="page-item disabled">
            <a class="page-link">{{page + 1}}</a>
        </li>
        <li [ngClass]="hasNext() ? 'page-item' : 'page-item disabled'">
            <a class="page-link" (click)="nextPage()">></a>
        </li>
        <li [ngClass]="hasNext() ? 'page-item' : 'page-item disabled'">
            <a class="page-link" (click)="lastPage()">>|</a>
        </li>
    </ul>
</nav>