<div class="card mb-4 shadow-sm" *ngIf="pokemon">
    <img class="card-img-top" [src]="pokemon.sprites.front_default" alt="Card {{pokemonReference.name}}">
    <div class="card-body">
        <p class="card-text">{{pokemonReference.name}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Favoritar</button>
            </div>
        </div>
    </div>
</div>