<div class="card mb-4 shadow-sm h-100" *ngIf="pokemon">
    <div class="card-header">
        <h6 class="card-text">{{pokemonReference.name | titlecase }}</h6>
    </div>
    <img class="card-img-top" *ngIf="pokemon.sprites.front_default" [src]="pokemon.sprites.front_default"
        alt="Card {{pokemonReference.name}}">
        <img class="card-img-top" *ngIf="!pokemon.sprites.front_default" src="assets/pokemons/notfound.png"
        alt="Card {{pokemonReference.name}}">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">Favoritar</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
            </div>
        </div>
    </div>
</div>