<header>
    <div class="navbar navbar-dark bg-dark  shadow-sm navbar-expand-lg">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Pokedex</strong>
            </a>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Pokedex</h1>
            <p class="lead text-muted">Você pode visualizar as caracteristicas de todos os pokemons, e também salvar
                seus pokemons favoritos!</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Todos os pokemons</a>
                <a href="#" class="btn btn-secondary my-2">Meus pokemons favoritos</a>
            </p>
        </div>
    </section>

    <div class="album py-2 bg-light">
        <div class="container" *ngIf="pokemonPage">
            <app-paginator (pageChanged)="onPageChanged($event)" [pageSize]="pageSize" [count]="page.count"></app-paginator>
            <div class="row">
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 py-2" *ngFor="let pokemon of pokemonPage.results">
                    <app-pokemon-detail [pokemon-reference]="pokemon"></app-pokemon-detail>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Voltar ao início</a>
        </p>
        <p class="float-left">
            Desenvolvido por Johanes Neumann
        </p>
    </div>
</footer>