<header>
    <div class="navbar navbar-dark bg-dark  shadow-sm navbar-expand-lg">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Pokedex</strong>
            </a>
        </div>
    </div>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Pokedex</h1>
            <p class="lead text-muted">Você pode visualizar as caracteristicas de todos os pokemons, e também salvar
                seus pokemons favoritos!</p>
            <p>
                <a [routerLink]="['/']" routerLinkActive="active" class="btn btn-primary my-2">Todos os pokemons</a>
                <a [routerLink]="['/favoritos']" routerLinkActive="active" class="btn btn-secondary my-2">Meus pokemons favoritos</a>
            </p>
        </div>
    </section>
</header>